@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap');
//Variable
$color1: white;
$color_highlight: #5edf06;
$mobile: 376px;
$tablet: 768px;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
    color: $color1;
}

//GLOBALS
.highlight {
    color: $color_highlight;
}

.hide-bg-on-mobile {
    @media(max-width: $mobile) {
        background-image: none!important;
    }
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../img/main1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient( 360deg, black, #00000007);
    }
    .navbar {
        @media(max-width: $mobile) {
            flex-direction: column;
            ul {
                flex-direction: column;
                align-items: center;
                .nav-link {
                    padding: 1rem 0
                }
            }
        }
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        border-bottom: 2px solid #dcdcdc0d;
        background: #0000001c;
        flex: 1;
        z-index: 1000;
        .logo {
            height: 6rem;
            filter: contrast(1.9) brightness(1) hue-rotate( 286deg);
            margin: 0 1rem;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-evenly;
            .nav-link {
                display: inline-block;
                a {
                    color: $color1;
                    text-decoration: none;
                    font-size: larger;
                }
            }
        }
    }
    &-content {
        @media(max-width: $mobile) {
            justify-content: space-around;
            .hero-title {
                text-align: center;
            }
        }
        position: relative;
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hero-title {
            font-size: 8vw;
            text-shadow: 1px 1px 0px black;
            padding: 1rem;
        }
        .hero-subtitle {
            padding: 0.5rem 0;
            width: 100%;
            text-align: center;
            background: #00000069;
            color: white;
            font-weight: 200;
            margin: 1rem;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
        .hero-btn {
            width: 180px;
            height: 60px;
            cursor: pointer;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.116);
            outline: none;
            transition: 1s all ease-in-out;
            position: relative;
            & span {
                color: white;
                font-size: 18px;
                font-weight: 100;
                transition: 0.3s all ease-in-out;
            }
            svg {
                position: absolute;
                left: 0;
                top: 0;
                fill: none;
                stroke: $color_highlight;
                stroke-dasharray: 150 480;
                stroke-dashoffset: 150;
                transition: 0.5s all ease-in-out;
            }
            &:hover {
                background: rgba(255, 255, 255, 0.082);
                & svg {
                    stroke-dashoffset: -480;
                }
                & span {
                    color: $color_highlight;
                }
            }
        }
    }
}

.main-content {
    .hero-section {
        @media(max-width: $mobile) {
            height: unset;
        }
        height: 100vh;
        width: 100vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &::before {
            @media(min-width: $mobile) {
                position: absolute;
                content: "";
                background: radial-gradient(rgba(0, 0, 0, 0.555), black 72%);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        &__heading {
            z-index: 10;
            font-size: xx-large;
            @media(max-width: $mobile) {
                color: black;
            }
        }
        &--starters {
            background-image: url(../img/starter4.jpg);
        }
        &--maincourse {
            background-image: url(../img/main.jpg);
        }
        &--desserts {
            background-image: url(../img/drink.jpg);
        }
        &--beverages {
            background-image: url(../img/dessert.jpg);
        }
        .flex-wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 10;
            .food-card {
                @media(min-width: $mobile) and (max-width: $tablet) {
                    width: 45vw;
                    height: 45vw;
                }
                @media(max-width: $mobile) {
                    width: 90vw;
                    height: 90vw;
                }
                display: inline-flex;
                flex-direction: column;
                width: 20vw;
                height: 20vw;
                background: white;
                margin: 0.5rem;
                box-sizing: border-box;
                &__image-wrapper {
                    flex: 2;
                    overflow: hidden;
                    position: relative;
                }
                &__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &__description {
                    flex: 1;
                    color: black;
                    font-weight: 200;
                    padding: 0.3rem;
                    &-heading {
                        font-size: 1.5vw;
                        margin: 0.3rem 0;
                    }
                    &-text {
                        font-size: 1vw;
                        margin: 0.3rem 0;
                        height: 2rem;
                    }
                    &-price {
                        font-size: 0.6rem;
                        margin: 0.3rem 0;
                        font-weight: bolder;
                    }
                    @media(min-width:$mobile) and (max-width: $tablet) {
                        &-heading {
                            font-size: 3.5vw;
                        }
                        &-text {
                            font-size: 1.8vw;
                            height: 3rem;
                        }
                        &-price {
                            font-size: 1.1rem;
                        }
                    }
                    @media(max-width: $mobile) {
                        &-heading {
                            font-size: 6.6vw;
                        }
                        &-text {
                            font-size: 3.4vw;
                            height: 3rem;
                        }
                        &-price {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}