@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
  color: white;
}

.highlight {
  color: #5edf06;
}

@media (max-width: 450px) {
  .hide-bg-on-mobile {
    background-image: none !important;
  }
}

@media (max-width: 450px) {
  .hide-on-mobile {
    display: none;
  }
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../img/main1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, black, #00000007);
}
.hero .navbar {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  border-bottom: 2px solid #dcdcdc0d;
  background: #0000001c;
  flex: 1;
  z-index: 1000;
}
@media screen and (max-width: 450px) {
  .hero .navbar {
    flex-direction: column;
  }
  .hero .navbar ul {
    flex-direction: column;
    align-items: center;
  }
  .hero .navbar ul .nav-link {
    padding: 1rem 0;
  }
}
.hero .navbar .logo {
  height: 6rem;
  filter: contrast(1.9) brightness(1) hue-rotate(286deg);
  margin: 0 1rem;
}
.hero .navbar ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.hero .navbar ul .nav-link {
  display: inline-block;
}
.hero .navbar ul .nav-link a {
  color: white;
  text-decoration: none;
  font-size: larger;
}
.hero-content {
  position: relative;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 450px) {
  .hero-content {
    justify-content: space-around;
  }
  .hero-content .hero-title {
    text-align: center;
  }
}
.hero-content .hero-title {
  font-size: 8vw;
  text-shadow: 1px 1px 0px black;
  padding: 1rem;
}
.hero-content .hero-subtitle {
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  background: #00000069;
  color: white;
  font-weight: 200;
  margin: 1rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.hero-content .hero-btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.116);
  outline: none;
  transition: 1s all ease-in-out;
  position: relative;
}
.hero-content .hero-btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  transition: 0.3s all ease-in-out;
}
.hero-content .hero-btn svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #5edf06;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.5s all ease-in-out;
}
.hero-content .hero-btn:hover {
  background: rgba(255, 255, 255, 0.082);
}
.hero-content .hero-btn:hover svg {
  stroke-dashoffset: -480;
}
.hero-content .hero-btn:hover span {
  color: #5edf06;
}

.main-content .hero-section {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .main-content .hero-section {
    height: auto;
  }
}
@media (min-width: 450px) {
  .main-content .hero-section::before {
    position: absolute;
    content: "";
    background: radial-gradient(rgba(0, 0, 0, 0.555), black 72%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.main-content .hero-section__heading {
  z-index: 10;
  font-size: 4rem;
  padding: 1rem 0;
}
@media (max-width: 450px) {
  .main-content .hero-section__heading {
    color: black;
  }
}
.main-content .hero-section--starters {
  background-image: url(../img/starter4.jpg);
}
.main-content .hero-section--maincourse {
  background-image: url(../img/main.jpg);
}
.main-content .hero-section--desserts {
  background-image: url(../img/drink.jpg);
}
.main-content .hero-section--beverages {
  background-image: url(../img/dessert.jpg);
}
.main-content .hero-section .flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.main-content .hero-section .flex-wrapper .food-card {
  display: inline-flex;
  flex-direction: column;
  width: 20vw;
  height: 20vw;
  background: white;
  margin: 0.5rem;
  box-sizing: border-box;
}
@media (min-width: 450px) and (max-width: 1024px) {
  .main-content .hero-section .flex-wrapper .food-card {
    width: 45vw;
    height: 45vw;
  }
}
@media (max-width: 450px) {
  .main-content .hero-section .flex-wrapper .food-card {
    width: 90vw;
    height: 90vw;
  }
}
.main-content .hero-section .flex-wrapper .food-card__image-wrapper {
  flex: 2;
  overflow: hidden;
  position: relative;
}
.main-content .hero-section .flex-wrapper .food-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content .hero-section .flex-wrapper .food-card__description {
  flex: 1;
  color: black;
  font-weight: 200;
  padding: 0.3rem;
}
.main-content .hero-section .flex-wrapper .food-card__description-heading {
  font-size: 1.5vw;
  margin: 0.3rem 0;
}
.main-content .hero-section .flex-wrapper .food-card__description-text {
  font-size: 1vw;
  margin: 0.3rem 0;
  height: 2rem;
}
.main-content .hero-section .flex-wrapper .food-card__description-price {
  font-size: 0.6rem;
  margin: 0.3rem 0;
  font-weight: bolder;
}
@media (min-width: 450px) and (max-width: 1024px) {
  .main-content .hero-section .flex-wrapper .food-card__description-heading {
    font-size: 3.5vw;
  }
  .main-content .hero-section .flex-wrapper .food-card__description-text {
    font-size: 1.8vw;
    height: 3rem;
  }
  .main-content .hero-section .flex-wrapper .food-card__description-price {
    font-size: 1.1rem;
  }
}
@media (max-width: 450px) {
  .main-content .hero-section .flex-wrapper .food-card__description-heading {
    font-size: 6.6vw;
  }
  .main-content .hero-section .flex-wrapper .food-card__description-text {
    font-size: 3.4vw;
    height: 3rem;
  }
  .main-content .hero-section .flex-wrapper .food-card__description-price {
    font-size: 1.5rem;
  }
}

.footer-section {
  display: flex;
  flex-direction: row;
  background: black;
  border-top: 1px solid white;
  padding: 1.5rem 1rem;
}
@media (max-width: 450px) {
  .footer-section {
    flex-direction: column;
    background: #f3f3f3;
    color: black;
  }
}
.footer-section__info {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footer-section__logo-text {
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem;
}
.footer-section__logo {
  width: 30%;
  filter: contrast(1.9) brightness(1) hue-rotate(286deg);
}
.footer-section__social-media {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-section__heading {
  font-size: 1.5rem;
}
.footer-section__icon-row {
  font-size: 3rem;
}
.footer-section__icon-row .fa-twitter-square:hover {
  color: #59a1ff;
  transition: color 300ms ease-in-out;
}
.footer-section__icon-row .fa-facebook-square:hover {
  color: #1977f2;
  transition: color 300ms ease-in-out;
}
.footer-section__icon-row .fa-instagram:hover {
  color: magenta;
  transition: color 300ms ease-in-out;
}/*# sourceMappingURL=styles.css.map */